{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h3>Manage Offers - {{ restaurant.name }}</h3>
    <a href="{% url 'add_offer' restaurant.id %}" class="btn btn-primary mb-3">
        Add Offer
    </a>
    
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Discount</th>
            <th>Valid Time</th>
            <th>Action</th>
        </tr>
        
        {% for offer in offers %}
        <tr>
            <td>{{ offer.title }}</td>
            <td>{{ offer.discount }}</td>
            <td>{{ offer.valid_from }} - {{ offer.valid_to }}</td>           
            <td>
                <a href="{% url 'delete_offer' offer.id %}" class="btn btn-danger btn-sm">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}