{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Admin Panel</title>
<link rel="stylesheet" href="/static/css/admin_base.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">



</head>

<body>

<div class="container-fluid">
<div class="row">

<!-- Sidebar -->

<div class="col-md-2 sidebar">

<h4 class="text-white text-center">Admin</h4>

<a href="admin_dashboard.html">Dashboard</a>
<a href="restaurant_list.html">Manage Restaurants</a>
<a href="Users_list.html">Manage Users</a>
<a href="booking_list.html">Manage Bookings</a>

</div>

<!-- Main Content -->

<div class="col-md-10 p-4">


    {% block content %}
    {% endblock %}


</div>

</div>
</div>

</body>
</html>