{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h2 class="mb-4">Manage Users</h2>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                {% if user.is_superuser %}
                Admin
                {% else %}
                {{ user.userprofile.role }}
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
