{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

<h3>My Bookings</h3>

<table class="table table-bordered">

<tr>
<th>Restaurant</th>
<th>Date</th>
<th>Time</th>
<th>Guests</th>
<th>Status</th>
<th>Action</th>
</tr>

{% for booking in bookings %}

<tr>

<td>{{ booking.restaurant.name }}</td>
<td>{{ booking.date }}</td>
<td>{{ booking.timeslot.time }}</td>
<td>{{ booking.guests }}</td>

<td>
    {% if booking.status == "cancelled" %}
        <span class="text-danger">Cancelled</span>
    {% else %}
        <span class="text-success">Confirmed</span>
    {% endif %}
</td>

<td>
    <a href="{% url 'cancel_booking' booking.id %}" 
    {% if booking.status != "cancelled" %}
       class="btn btn-danger btn-sm"
       onclick="return confirm('Are you sure you want to cancel this booking?');">
        Cancel
    </a>
    {% else %}
        <span class="text-muted">-</span>
    {% endif %}
</td>

</tr>

{% endfor %}

</table>

</div>

{% endblock %}
